@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    
    font-family: 'Poppins', sans-serif;
    user-select: none;
    text-decoration: none;
    outline: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



body {
    height: 100vh;
    background-color: black;
    margin: 0;
    padding: 0;

}

header {
    padding: 10px;
    height: 50px;
    background-color: rgb(36, 36, 36);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.settings_video {
    margin: 10px;
    background-color: #252525;
    display: flex;
    border-radius: 10px;
    width: 80vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.settings_video h2 {
    overflow: hidden;
}

main {
    padding: 10px;
    padding-left: 20px;
}


.stux_logo {
    padding: 0;
    height: 50px;
    margin: 0;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

pre {
    color: white;
}

p {
    color: white;
}

.site_icons {
    height: 50px;
}

.add_youtube_form {

    padding: 10px;
}

#submit_button {
    cursor: pointer;
    color: white;
    transition: all 0.3s;
}

#submit_button:hover {
    background-color: #333333
}

.youtube_add_form_element {
    color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-self: center;
    box-sizing: border-box;
    background-color: #252525;
    border-style: none;
    width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.feed_video {
    background-color: #252525;
    margin: 10px;
    border-radius: 10px;
    padding-left: 10px;
    transition: all 0.3s;
}

.feed_video:hover {
    background-color: #333333;
}

.delete_button_settings {
    background-color: #303030;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

.delete_button_settings img {
    height: 50px;


}

.delete_button_settings:hover {
    background-color: #404040;

}