<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" href="/static/img/s.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stux</title>
</head>
<body>
    <header>
        <a href="/"><img class="stux_logo" src="/static/img/stux_logo.png" alt="Stux"></a>
        <div>
            <a href="/add-video"><img class="site_icons" src="/static/img/add.png"></a>
            <a href="/downloads"><img class="site_icons" src="/static/img/downloads.png"></a>
            <a href="/settings"><img class="site_icons" src="/static/img/settings.png"></a>
        </div>
    
    
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>
