{% extends "base.html" %}

{% block content %}
    {% if downloads %}
    {% for download in downloads %}
    <div>
        <p>{{download.title}}</p>
        <p>{{download.author}}</p>
        <p>{{download.progress}}% (Just download from YouTube, processing will take a bit of time)</p>
        <p>{{download.url}}</p>
    </div>
    {% endfor %}
    {% else %}
    <h2>Oh, there are no ongoing downloads :D</h2>
    {% endif %}
    <script>
        setInterval(function() {
            window.location.reload();
        }, 3000);
    </script>
{% endblock %}
